:root { 
--light_green_A701:#32b703; 
--black_900_7f:#0000007f; 
--black_900_b2:#000000b2; 
--red_900:#b90310; 
--light_green_A700:#3bdb03; 
--black_900_9e:#0000009e; 
--black_900_3f:#0000003f; 
--black_900_b5:#000000b5; 
--light_blue_900:#0062b0; 
--black_900_b7:#000000b7; 
--light_blue_800:#0162b4; 
--black_900:#000000; 
--black_900_82:#00000082; 
--black_900_63:#00000063; 
--black_900_9b:#0000009b; 
--red_A701:#df0000; 
--red_A700:#db0010; 
--black_900_68:#00000068; 
--black_900_a0:#000000a0; 
--black_900_6d:#0000006d; 
--gray_301:#ded8d8; 
--blue_601:#0f87e4; 
--black_900_8e:#0000008e; 
--blue_600:#0f86e4; 
--black_900_6b:#0000006b; 
--bluegray_100:#d9d9d9; 
--bluegray_100_42:#d9d9d942; 
--gray_200:#ebeaea; 
--orange_400:#fda128; 
--gray_300:#e3e3e3; 
--gray_201:#ececec; 
--teal_A400:#32d49b; 
--gray_100:#f6f6f6; 
--black_900_a5:#000000a5; 
--black_900_75:#00000075; 
--black_900_99:#00000099; 
--black_900_72:#00000072; 
--black_900_30:#00000030; 
--cyan_901:#014275; 
--cyan_900:#014174; 
--white_A700:#ffffff; 
--white_A700_7a:#ffffff7a; 
}